 /*bootstrap class override for login page only*/
            .form-control{
                border-radius: 0px;
                margin: 12px 3px;
                height: 40px;
            }
            .logo{
                margin: auto 0;
                padding-top: 20%;
            }
            .logo img{
                height: auto;
                text-align: center;
            }
            /*footer*/ 
            .footer a{
                color: #000;
                text-decoration: none;
            }
            .footer{
                color: #000;
                text-align: center;
            }
            /*footer end*/ 


            /*for logintemplate blue*/
            .grayBody{
                background-color: #E9E9E9;
            }
            .loginbox{
                margin-top: 5%;
                border-top: 6px solid #D70B00;
                background-color:#fff;
                padding: 20px;
                box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
            }
            .singtext{    
                font-size: 28px;  
                color: #D70B00;
                font-weight: 500;
                letter-spacing: 1px;
            }
            .submitButton{
                background-color: #D70B00;
                color: #fff;
                margin-top: 12px;
                margin-bottom: 10px;
                padding: 10px 0px;
                width: 100%;
                margin-left: 2px;
                font-size: 16px;
                border-radius: 0px;
                outline: none;
            }
            .submitButton:hover,.submitButton:focus{
                color: #fff;  
                outline: none;
            }
            .forGotPassword{
                background-color: #F2F2F2; 
                padding: 15px 0px;
                text-align: center;

            }
            .forGotPassword:hover{
                 box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);    
            }
            .forGotPassword a{
                color: #000;
                outline: none;
            }
            .forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{  
                text-decoration: none; 
                outline: none;
            }